/*
Colors used:
Primary Color (Dark Slate Green): #344e4f;
Secondary Color (Myrtle Green): #387771
Button Color (Copper Orange): #d37a53;
Header Color (Metal Gray): #667080
*/



* {
  box-sizing: border-box;
}


body {
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #ff7f50;
  text-decoration: none;
  /* No underlining */
}

.container {
  max-width: 1200px;
}

.container {
  padding: 0 15px;
}

a:hover,
a:focus {
  color: #cc6540;
  text-decoration: underline;
}

a:visited {
  /* visited link */
  color: #c1b5b1;
}

a:active {
  /* selected link */
  color: #994c30;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #ff7f50;
  color: #ffffff;
  /* needed to override the default link color */
  font-weight: 700;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact :hover {
  background-color: transparent;
  color: #ff7f50;
  text-transform: uppercase;
  border: 2px solid #ff7f50;
}


header {
  background-color: #387771;
  padding: 10px;
}




.row {
  margin: 125px 0;
  /* 25px top and bottom, 0 left and right */
}



#hero h1 {
  text-align: left;
  /* Centers text */
}

.center {
  text-align: center;
}

.logo {
  max-width: 250px;
  display: inline-block;
}


.logo {
  max-width: 200px;
  width: 180px;
  display: inline-block;
  font-weight: 700;
}


.project {
  max-width: 500px;
}

.project {
  max-width: 500px;
  width: 498px;
  float: left;
}

.photo {
  max-width: 1200px;
}

.photo {
  max-width: 1200px;
  width: 400px;
  float: left;
}



header {
  background-color: rgba(202, 228, 219, 0.5);
  text-align: center;
  padding: 10px 0;
  border-bottom: 3px solid #4a4a4a;
}


.navigation {
  display: inline-block;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.navigation li {
  display: inline-block;
}

.navigation a {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  background-color: #344e4f;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.navigation a:hover {
  background-color: #344e4f;
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

#hero {
  background-color: #ffe4c4;
}

#hero {
  background-color: #ffe4c4;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
}

main {
  padding-top: 35px;
}