/*
Colors used:
Primary Color (Dark Slate Green): #344e4f;
Secondary Color (Myrtle Green): #387771
Button Color (Copper Orange): #d37a53;
Header Color (Metal Gray): #667080
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

h1 {
  text-decoration: none;
}

h2 {
  padding: 15px;
  background-color: #387771;
  color: #fff;
  text-decoration: none;
  border-radius: 18px;
  display: inline-block;
  text-align: center;
}

h3 {
  text-decoration: none;
}

h4 {
  line-height: 1.4;
  padding: 15px;
  background-color: #387771;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border-radius: 30px;
  display: inline-block;
  text-align: center;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 400;
}

h3 {
  font-size: 2.05em;
  font-weight: 700;
  margin: 0px;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #ff7f50;
  text-decoration: none;
  /* No underlining */
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
}

a:hover,
a:focus {
  color: #cc6540;
  text-decoration: underline;
}

a:visited {
  /* visited link */
  color: #fff;
}

a:active {
  /* selected link */
  color: #994c30;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #DB3B00;
  color: #ffffff;
  /* needed to override the default link color */
  font-weight: 700;
  padding: 12px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact :hover {
  background-color: transparent;
  color: #ff7f50;
  text-transform: uppercase;
  border: 2px solid #ff7f50;
}

.row {
  margin: 35px 0;
  /* 25px top and bottom, 0 left and right */
}

#hero h1 {
  text-align: left;
  /* Centers text */
}

.center {
  text-align: center;
}

.padding {
  padding-top: 4px;
}

header {
  background-color: rgba(202, 228, 219, 0.8);
  padding: 10px 0 4px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.6);
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.project {
  max-width: 100%;
}

.project2 {
  max-width: 75%;
  max-height: 50%;
  padding-left: 10px;
}

.project3 {
  max-width: 65%;
  max-height: 50%;
  padding-left: 10px;
  float: right;
}

.project4 {
  max-width: 65%;
  max-height: 50%;
  padding-left: 10px;
}

.photo {
  max-width: 100%;
}

.selfie {
  max-width: 450px;
}

.logo {
  max-width: 40px;
  padding-top: 5.5px;
}

.social {
  padding-top: 10px;
  width: 60px;
  height: 60px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
}

.navigation {
  display: inline-block;
}

.navtoggle.responsive .logo {
  position: relative;
}

.navtoggle.responsive .logo {
  display: none;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.navigation li {
  display: inline-block;
}

.navigation a {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  background-color: #344e4f;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.navigation a:hover {
  background-color: #344e4f;
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

#hero {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 30px;
  text-align: center;
  padding: 50px;
  background-color: #344e4f;
  color: #fff;
  text-decoration: none;
  border-radius: 18px;
}

#hero h1 {
  text-align: center;
  /* Centers text */
}

#work {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 30px;
  text-align: left;
  padding: 50px;
  background-color: #344e4f;
  color: #fff;
  text-decoration: none;
  border-radius: 18px;
  display: inline-block;
}

#top {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 30px;
  text-align: left;
  padding: 50px;
  background-color: #344e4f;
  color: #fff;
  text-decoration: none;
  border-radius: 18px;
}

#contact {
  background-color: rgba(202, 228, 219, 0.8);
  text-align: center;
}

#contact {
  background-color: rgba(202, 228, 219, 0.8);
  padding: 0px;
  display: inline-block;
  width: 100%;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
}

#contact h2 {
  background-color: transparent;
  padding: 0px;
  color: gray;
  text-align: center;
}

#olive h1 {
  padding-top: 100px;
  margin-top: 30px;
  text-align: center;
  padding: 50px;
  background-color: #344e4f;
  color: #fff;
  text-decoration: none;
  border-radius: 18px;
  display: inline-block;
}

#olive {
  padding-top: 100px;
  display: inline-block;
  width: 100%;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
}

main {
  padding-top: 56px;
  margin-bottom: 35px;
}

.title2 {
  text-decoration: none;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: fixed;
  right: 0;
  top: 0;
  font-size: 20px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

.navtoggle.responsive li {
  display: block;
}

.navtoggle.responsive nav {
  padding: 20px 0 0px;
}
.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-bottom: 3px solid rgba(255, 127, 80, 0.5);
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

@keyframes pulse {
  0% {
      transform: scale(.95);
      text-shadow: 0 0 10px rgba(255, 212, 39, 0.0);
  }
  25% {
      transform: scale(1);
      text-shadow: 0 0 10px rgba(255, 212, 39, 0.7);
  }
  50% {
      transform: scale(1.05);
      text-shadow: 0 0 10px rgba(255, 212, 39, 0.9);
  }
  75% {
      transform: scale(1);
      text-shadow: 0 0 10px rgba(255, 212, 39, 0.7);
  }
  100% {
      transform: scale(.95);
      text-shadow: 0 0 10px rgba(255, 212, 39, 0.5);
  }
}
@keyframes glow {
  0% {
      transform: scale(.95);
      text-shadow: 0 0 10px rgba(255, 212, 39, 0.5);
  }
  50% {
      transform: scale(1);
      text-shadow: 0 0 10px rgba(255, 212, 39, 0.7);
  }
  100% {
      transform: scale(.95);
      text-shadow: 0 0 10px rgba(255, 212, 39, 0.5);
  }
}




/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 0px 0;
  }

  main {
    padding-top: 133px;
  }

  nav {
    width: auto;
    float: left;
  }

  nav > ul {
    margin: 1em 0;
    display: inline-block;
  }

  nav > ul > li {
    display: inline-block;
  }

  .navigation {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  .navigation ul {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  .navigation li {
    width: auto;
    float: left;
    margin-top: 4px;
  }

  .navigation a {
    width: auto;
    float: left;
    margin-top: 4px;
  }

  .navigation a:hover {
    width: auto;
    float: left;
    margin-top: 4px;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .col-md-6 {
    width: 50%;
  }

  .logo {
    max-width: 100px;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .work-item {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
  }
  
  .work-item.show {
    opacity: 1;
    transform: translateY(0);
  }

}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 60%;
  }

  .col-lg-5 {
    width: 40%;
  }
  .work-item {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.0s ease, transform 1.0s ease;
  }
  
  .work-item.show {
    opacity: 1;
    transform: translateY(0);
  }

}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}

/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {
}
